<!DOCTYPE html>
<html>
<head>
  <title>Secrets</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="secrets-page">
    <h1>Welcome, <%= user.name %>!</h1>
    <p>This is your protected secrets page.</p>
    <a href="/logout">Logout</a>
  </div>
</body>
</html>
